<!DOCTYPE html>
<html>
  <head>
    <title>Mini Message Board</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Form</h1>
    <form method="POST" action="/new">
        <label for="user">User:
            <input type="text" id="user" name="user">
        </label>
        <label for="message">Message:
            <input type="text" id="message" name="message">
        </label>
        <input type="submit" value="Submit">    
    </form>
  </body>
</html>
